<a href="https://colab.research.google.com/github/brishika2006/batch_12/blob/main/SALES(28_08_2025).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
sales_missing=pd.DataFrame({
    'order_id':[101,102,103,104,105,102,101],
    'product':['laptop','mobile','tablet',None,'headphones','mobile','tablet'],
    'quantity':[2,None,5,3,1,None,3],
    'price':[50000,20000,15000,30000,None,60000,40000],
    'city':['delhi','mumbai','hyd',None,'hyd',None,'mumbai'],
})
print(sales_missing)

   order_id     product  quantity    price    city
0       101      laptop       2.0  50000.0   delhi
1       102      mobile       NaN  20000.0  mumbai
2       103      tablet       5.0  15000.0     hyd
3       104        None       3.0  30000.0    None
4       105  headphones       1.0      NaN     hyd
5       102      mobile       NaN  60000.0    None
6       101      tablet       3.0  40000.0  mumbai

In [4]:
sales_missing.isnull()

   order_id  product  quantity  price   city
0     False    False     False  False  False
1     False    False      True  False  False
2     False    False     False  False  False
3     False     True     False  False   True
4     False    False     False   True  False
5     False    False      True  False   True
6     False    False     False  False  False

In [5]:
sales_missing['quantity']=sales_missing['quantity'].fillna(sales_missing['quantity'].mean())
sales_missing['price']=sales_missing['price'].fillna(sales_missing['price'].mean())
print(sales_missing)

   order_id     product  quantity         price    city
0       101      laptop       2.0  50000.000000   delhi
1       102      mobile       2.8  20000.000000  mumbai
2       103      tablet       5.0  15000.000000     hyd
3       104        None       3.0  30000.000000    None
4       105  headphones       1.0  35833.333333     hyd
5       102      mobile       2.8  60000.000000    None
6       101      tablet       3.0  40000.000000  mumbai

In [6]:
sales_missing1=sales_missing.drop_duplicates()
print(sales_missing1)

   order_id     product  quantity         price    city
0       101      laptop       2.0  50000.000000   delhi
1       102      mobile       2.8  20000.000000  mumbai
2       103      tablet       5.0  15000.000000     hyd
3       104        None       3.0  30000.000000    None
4       105  headphones       1.0  35833.333333     hyd
5       102      mobile       2.8  60000.000000    None
6       101      tablet       3.0  40000.000000  mumbai

In [7]:
sales_missing1.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [8]:
sales_missing1=sales_missing1.dropna(subset=["price"])
print(sales_missing1)

   order_id     product  quantity         price    city
0       101      laptop       2.0  50000.000000   delhi
1       102      mobile       2.8  20000.000000  mumbai
2       103      tablet       5.0  15000.000000     hyd
3       104        None       3.0  30000.000000    None
4       105  headphones       1.0  35833.333333     hyd
5       102      mobile       2.8  60000.000000    None
6       101      tablet       3.0  40000.000000  mumbai

In [9]:
sales_missing1=sales_missing1.rename(columns={"product":"product_name","city":"city_name"})
print(sales_missing1)

   order_id product_name  quantity         price city_name
0       101       laptop       2.0  50000.000000     delhi
1       102       mobile       2.8  20000.000000    mumbai
2       103       tablet       5.0  15000.000000       hyd
3       104         None       3.0  30000.000000      None
4       105   headphones       1.0  35833.333333       hyd
5       102       mobile       2.8  60000.000000      None
6       101       tablet       3.0  40000.000000    mumbai

In [11]:
sales_missing1['price'] = sales_missing1['price'].astype(int)
print(sales_missing1)

   order_id product_name  quantity  price city_name
0       101       laptop       2.0  50000     delhi
1       102       mobile       2.8  20000    mumbai
2       103       tablet       5.0  15000       hyd
3       104         None       3.0  30000      None
4       105   headphones       1.0  35833       hyd
5       102       mobile       2.8  60000      None
6       101       tablet       3.0  40000    mumbai

In [16]:
sales_missing_filtered = sales_missing1[sales_missing1['price'] > 15000]
print(sales_missing_filtered)

   order_id product_name  quantity  price city_name
5       102       mobile       2.8  60000      None
0       101       laptop       2.0  50000     delhi
6       101       tablet       3.0  40000    mumbai
4       105   headphones       1.0  35833       hyd
3       104         None       3.0  30000      None
1       102       mobile       2.8  20000    mumbai

In [14]:
sales_missing1 = sales_missing1.sort_values(by='price', ascending=False)
print(sales_missing1)

   order_id product_name  quantity  price city_name
5       102       mobile       2.8  60000      None
0       101       laptop       2.0  50000     delhi
6       101       tablet       3.0  40000    mumbai
4       105   headphones       1.0  35833       hyd
3       104         None       3.0  30000      None
1       102       mobile       2.8  20000    mumbai
2       103       tablet       5.0  15000       hyd